<ion-header>
  <ion-toolbar>
    <ion-title> 
      The Best Formula for you Right Now!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
      <ion-card class="phone-frame" color="light">
        <ion-card-header class="header-silver">
          <ion-card-title> 
            <span class="smaller-title">SILVER</span> <br> 
            <span class="larger-title">BUY 1 BOTTLE</span> 
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content> 
          <p class="one-month-supply">1 Month Supply</p>
          <div class="image-circle-container">
            <img src="assets/images/1-bot.png" class="product-img" alt="Product Image" />
            <div class="circle">SAVE $10</div> 
          </div>
          <p class="regular-price">Regular Price: <del class="red-text">$69.00</del></p>
          <p class="price">
            <span class="dollar-sign">$</span>
            <span class="whole-number">59</span>
            <span class="decimal">.00</span>
          </p>
          <p class="shipping"><u>+ SHIPPING</u></p> 
            <ion-button shape="round" color="warning"> <img src="assets/images/cart.png"> Add to Cart </ion-button>
            <br> <img src="assets/images/cards.png" class="cards">
            <div class="footer"> <p> 180-DAY MONEY BACK GUARANTEE </p> </div> 
        </ion-card-content>
      </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="3">
        <ion-card class="phone-frame" color="light">
          <ion-card-header class="header-platinum">
            <ion-card-title><img src="assets/images/bes.png" class="small-img"> <br> <span class="larger-title">PLATINUM</span> </ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="platinum-card"> 

            <div class="text-circle-container">
              <div>
                <p class="six-bots"> BUY 6 BOTTLES</p> 
                <p class="supply-text">6-Month Supply +</p>
                <p class="shipping-text">Free Shipping in the US</p>
              </div>
              <div class="circle2">
                SAVE $270
              </div>
            </div>

            <img src="assets/images/six-bot.png" class="six-bot-img">
            <p class="reg-price-four-twenty">Regular Price: <del class="red-text">$420.00 </del></p>
            <p>ONLY</p>
            <p class="price"> 
              <span class="dollar-sign">$</span>
              <span class="whole-number">29</span>
              <span class="decimal">.97</span>
            </p>
            <p class="shipping">PER BOTTLE</p>
            
            <ion-button shape="round" color="warning">
              <img src="assets/images/cart.png"> Add to Cart
            </ion-button>
            <br> 
            <img src="assets/images/cards.png" class="cards">
            <div class="footer"> <p> 180-DAY MONEY BACK GUARANTEE</p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="3">
        <ion-card class="phone-frame" color="light">
          <ion-card-header class="header-gold">
            <ion-card-title><span class="smaller-title-gold">GOLD</span> <br> BUY 3 BOTTLES </ion-card-title>
          </ion-card-header>

          <ion-card-content> 
            <p class="one-month-supply">3 Months Supply</p>
            <div class="image-container">
              <img src="assets/images/g-3bots-sales.png" class="three-bots-img">
              <div class="circle-overlay">SAVE $90</div>
            </div>            
            <p class="reg-price-four-twenty"> Regular Price: <del class="red-text">$210.00</del></p>
            <p>ONLY</p>
            <p class="price">
              <span class="dollar-sign">$</span>
              <span class="whole-number">39</span>
              <span class="decimal">.97</span>
            </p>
            <p class="shipping">  PER BOTTLE <br> <u>+ SHIPPING</u></p>  
              <ion-button shape="round" color="warning"> <img src="assets/images/cart.png"> Add to Cart </ion-button>
              <br> <img src="assets/images/cards.png" class="cards">

            <div class="footer"><p>180-DAY MONEY BACK GUARANTEE</p></div> 
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>